@media (max-width:1366px) {
	html {
		font-size: 90px !important;
	}
	.header-content {
		width: 13.3rem;
	}
	.header-img li {
		margin: 0 .26rem;
	}
	.main-content {
		width: 13.3rem;
	}
	.lists-bg {
		width: 4.2rem;
	}
}

@media (max-width:1024px) {
	html {
		font-size: 88px !important;
	}
	.header-logo {
		height: 1rem;
	}
	.header-img {
		padding-top: .3rem;
	}
	.header-img li {
		margin: 0 .1rem;
	}
	.header-content {
		width: 11rem;
	}
	.main-content {
		width: 11rem;
	}
	.header-search {
		width: 3.2rem;
	}
	.carouse-banner .index-banner {
		height: 3.5rem !important;
	}
	.main-content-right {
		height: 4rem;
	}
	.f-space {
		margin: .5rem 0 .56rem;
	}
	.lists-bg {
		width: 3.3rem;
	}
	.course-img {
		height: .7rem;
		line-height: .7rem;
		width: 5.3rem;
	}
	.sec-lists-banner.lazy {
		height: 3rem !important;
	}
	.sec-reform {
		height: 3rem;
	}
	.sec-lists-page .sec-detail {
		width: 3rem;
		height: 1.68rem;
	}
	.sec-lists-page-explain {
		height: 1.68rem;
	}
	.sec-lists-page {
		padding-top: .3rem;
	}
	.room-content {
		width: 10.6rem;
	}
	.room-lists .lazy {
		width: 3.29rem;
	}
	.third-title {
		font-size: .28rem;
	}
	.third-text-image {
		height: 3rem;
	}
	.third-video-iframe {
		height: 5rem;
	}
	.vieo-title .media-heading {
		font-size: .15rem;
		height: .4rem;
	}
	.third-video {
		height: .95rem;
	}
	.third-video-lately {
		padding-top: .1rem;
	}
	.sec-lists-page-label span {
		margin: 0;
		font-size: .16rem;
	}
	.video-content {
		margin: .5rem auto 0;
	}
}

@media (max-width:980px) {
	html {
		font-size: 80px !important;
	}
	.header-content {
		width: 11.6rem;
	}
	.main-content {
		width: 11.6rem;
	}
	.header-search {
		width: 3.2rem;
	}
	.banner-arrow {
		left: 0;
	}
	.course-title {
		margin-top: .6rem;
	}
	.course-img {
		width: 100%;
		margin-top: .2rem;
	}
	.main-lists-pic .lazy {
		height: 2.4rem;
	}
	.main-lists-pic {
		margin-bottom: .45rem;
	}
	.sec-lists-page .sec-detail {
		width: 3.2rem;
	}
	.lists-bg {
		width: 3.42rem;
		height: 2.4rem;
	}
	.course-lists li a {
		font-size: .2rem;
	}
	.course-img {
		height: 1.6rem;
		line-height: 1.6rem;
	}
	.more-btn {
		margin: 0 auto;
	}
	.media:first-child {
		padding-top: .4rem;
	}
	.sec-course-title {
		margin-top: .2rem;
	}
	.interested-article-lists .lazy {
		height: 1.3rem;
	}
	.third-text-image {
		height: 2.5rem;
	}
	.sec-understand {
		padding: 0;
	}
}

@media (max-width:768px) {
	html {
		font-size: 80px !important;
	}
	.header-content {
		width: 9rem;
		height: 1rem;
	}
	.header-logo {
		height: .85rem;
		padding-top: .1rem;
	}
	.main-content {
		width: 9rem;
	}
	.header-search {
		margin-top: .26rem;
		width: 2.4rem;
	}
	.header-img {
		padding-top: .2rem;
	}
	.header-img li a i {
		width: 40px;
		height: 40px;
	}
	.nav-first li {
		padding: 0 .18rem;
	}
	.sub-list-more {
		margin: 0 auto;
	}
	.main-lists-pic .lazy {
		height: 2rem;
	}
	.lists-bg {
		width: 2.8rem;
		height: 2rem;
	}
	.list-bg-title {
		margin: .8rem auto 0;
	}
	.sec-lists-banner.lazy {
		height: 2.6rem !important;
	}
	.sec-reform {
		height: 2.6rem;
	}
	.sec-lists-page-explain h4 {
		font-size: .2rem;
		height: .76rem;
	}
	.sec-lists-page-label span {
		margin-right: .1rem;
	}
	.sec-lists-page .sec-detail {
		width: 2.5rem;
		height: 1.4rem;
	}
	.sec-lists-page-explain {
		height: 1.4rem;
	}
	.sec-reform-bg02 {
		height: 2.2rem;
	}
	.room-content {
		width: 9rem;
	}
	.course-title {
		margin-top: .5rem;
	}
	.third-title {
		font-size: .24rem;
	}
	.third-article {
		margin-top: .1rem;
	}
	.interested-article-lists .lazy {
		height: 1rem;
	}
	.interested-article-lists p {
		padding: 0;
		font-size: .16rem;
	}
	.third-article-author {
		font-size: .16rem;
	}
	.third-text-image {
		margin: .2rem auto;
	}
	.video-content {
		margin: .3rem auto 0;
	}
	.third-video-iframe {
		height: 4.5rem;
	}
}

@media (max-width:414px) {
	#sidebar-wrapper,
	.mobile-header,
	.mobile-nav,
	.mobile-footer,
	.index-mobile-show {
		display: block;
	}
	.header-content,
	.main-nav,
	.sub-nav.main-footer,
	.sub-nav,
	.content-main-nav,
	.space-nav,
	.main-footer,
	.index-mobile-hide {
		display: none;
	}
	.carouse-banner .index-banner {
		height: 3rem !important;
	}
	.main-content {
		width: 4.8rem;
		margin-top: 128px;
	}
	.mobile-more {
		margin-top: .6rem !important;
	}
	.f-space {
		margin: .4rem 0 .3rem;
	}
	.main-lists-pic {
		margin-bottom: .4rem;
	}
	.more-btn {
		margin: .3rem auto .5rem
	}
	.arrow-prev,
	.arrow-next {
		top: 26%;
	}
	.sec-lists-page-explain {
		height: 1.6rem;
	}
	.footer-service h4 {
		font-size: .18rem;
	}
	.footer-title {
		margin-bottom: .2rem;
	}
	.sub-course {
		padding-top: 0;
	}
	.main-lists-pic .lazy {
		height: 2.45rem;
	}
	.lists-bg {
		width: 4.45rem;
		height: 2.46rem;
	}
	.list-bg-title {
		margin: 1rem auto 0;
	}
	.sec-lists-page .sec-detail {
		width: 2rem;
		height: 1.6rem;
		margin-bottom: .2rem;
	}
	.sec-lists-page {
		padding-top: .2rem;
	}
	.sec-lists-page:last-child {
		margin-bottom: .3rem;
	}
	.sec-reform {
		margin-top: .6rem;
	}
	.sec-reform-bg02 {
		margin: .3rem 0 .6rem;
	}
	.room-content {
		width: 4.6rem;
		margin-top: 128px;
	}
	.room-lists .lazy {
		width: 100%;
	}
	.room-lists-title {
		height: .48rem;
		line-height: .48rem;
	}
	.room-lists-title h4 {
		line-height: .48rem;
		font-size: .2rem;
	}
	.room-lists-title span {
		font-size: .2rem;
	}
	.room-lists-explain {
		font-size: 12px;
		padding: .12rem;
	}
	.room-pagination {
		margin-bottom: .5rem;
	}
	.interested-article-lists .lazy {
		height: 1.6rem;
		width: 96%;
		margin-top: .4rem;
	}
	.btn-good {
		margin-top: .4rem;
	}
	.third-title {
		font-size: .21rem;
	}
	.third-video-iframe {
		height: 3.8rem;
	}
	.video-content {
		margin: .3rem auto .6rem;
	}
	.third-video-lists {
		display: none;
	}
}

@media (max-width:375px) {
	.main-content {
		width: 4.2rem;
	}
	.course-title {
		margin-top: .5rem;
	}
	.more-btn {
		margin: 0 auto .5rem;
	}
	.sec-lists-page .sec-detail {
		width: 1.8rem;
		height: 1.4rem;
	}
	.sec-lists-page-explain {
		height: 1.32rem;
	}
	.sec-lists-page-explain h4 {
		font-size: .2rem;
		height: .5rem;
	}
	.room-content {
		width: 4.3rem;
	}
}